.card {
  background: #ffffff;
  border: 1px solid #d3dee8;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  width: 350px;
  padding: 10px;
}

.card h2,
.card h3,
.card img,
.ikons {
  z-index: 3;
  color: rgb(0, 0, 0);
  position: relative;
}

.card h2 {
  font-size: 2em;
}

/* .card::before {
  content: "";
  position: absolute;
  width: 50px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
  z-index: 1;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #fdfeff;
  inset: 5px;
  border-radius: 15px;
  z-index: 2;
}
.card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */
.agents-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
