nav {
  border-radius: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 600px;
  height: 50px;

  ul {
    background: transparent;
  }
  a {
    text-decoration: none;
    color: #000000;
    padding: 0.25em 1em;
    transition: background 0.2s, color 0.2s;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  li {
    color: #fff;

    &.active a {
      /*       font-weight: 400 !important; */
      color: #ffffff !important;
      background: #000000 !important;
      text-shadow: none !important;
      border-radius: 100vh !important;
      transition: background 0.2s, color 0.2s;
      padding: 0.25em 1em;
    }
  }
}
